<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/AdminLib/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="~/AdminLib/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/AdminLib/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/AdminLib/images/favicon.png" />
</head>

<body>
   
    @RenderBody()
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="~/AdminLib/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/AdminLib/js/off-canvas.js"></script>
    <script src="~/AdminLib/js/hoverable-collapse.js"></script>
    <script src="~/AdminLib/js/template.js"></script>
    <script src="~/AdminLib/js/settings.js"></script>
    <script src="~/AdminLib/js/todolist.js"></script>
    <!-- endinject -->
</body>

</html>
